//- footer 태그에 footer, div에 footer_icon 클래스 추가
footer.footer
    //- div 태그를 작성하지 않아도 적용됨
    .footer__icon
        i.fas.fa-video
    //- #{} : javascript code
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;  