/* COLOR VARIABLES */
$orange: #f68b20;
$yellow: #fdb413;
$green: #7fc241;
$blue: #29a0da;

$grey: #f5f5f5;
$black: #444444;
$dark-grey: #e7e7e7;

/* GRADIENT LISTS */
$list1: $orange 20%, $yellow 35%, $green 56%, $blue 100%;
